<html>
  <head>
<title>Mduduzi Dlamini CV</title>
</head>
<body>
  <div class="container">
<div id="section-left">

<div class="section-intro">
  <div class="logo"></div>
  <h1>Curriculum Vitae Of </h1>
  <img src="/assets/mdu.jpg" width="150px" height="120px">
 <h2>Mduduzi Dlamini</h2>

<div class="content">
  <span class="dob">17 October 1997</span><br>
  <span class="intro">Developer</span><br>
  <span class="title">Golang</span>
</div>
<hr>
<div id="contact">
<span class="contact">0640326499</span>
<div class="Email"><a href="mailto: Mduduzi4@hotmail.com ">Mduduzi4@hotmail.com</a></div>
<div class="web"><a href="https://InnovationHub.com">www.InnovationHub.com</a></div>
</div>
</div>
</div>
<div id="section-right">
  <div class="wrapper">
    <div class="section">
      <div class="title">Profile</div>
      <p>I am an intermediately experienced Developer</p>
      <ul>
          <li>Nationality : South Africa</li>
          <li>Home Language : Isizulu</li>
          <li>Gender : Male</li>
        </ul>
    </div>
<div class="section">
  <div class="title">
    Experience
  </div>
  <div class="content">
<h2>Android and web Developer</h2>
<h3>Innovation Hub | June 2018 &raquo; current</h3>
<ul>
  <li>Developer feature for the platform</li>
  <li>Developer feature for the platform</li>
</ul>
  </div>
</div>
<div class="section">
  <div class="title">
    Education
  </div>
  <p>I have completed my NCV in Information Technology and Computer Science.</p>
  <ul>
    <li>Computer Programming</li>
    <li>Data Communication and Networking</li>
    <li>System Analysis and Design</li>
    <li>Project Management</li>
    <li>Mathematics</li>
    <li>English</li>
    <li>Life Orientation</li>
  </ul>
  <div class="section">
      <div class="title">
        Achievements
      </div>
      <ul>
        <li>Class Representative</li>
      </ul>
    </div>
    <div class="section">
      <div class="title">
      Interests
    </div>
    <ul>
      <li>Soccer</li>
      <li>Gaming</li>
      <li>Reading and Writing</li>
    </ul>
    </div>
    <div class="section">
      <div class="title">
        TESTIMONIAL
      </div>
      <ul>
        <li>Mr Othiniel Lesweni Mogotsi</li>
        <li>Senior Lecturer</li>
        <li>George Tabor</li>
        <li>SWGC FET College</li>
      </ul>
    </div>
    <div class="section">
      <div class="title">
        References
      </div>
      <ul>
        <li>Mr MARARENI</li>
        <li>Senior Lecturer</li>
        <li>074 433 7909</li>
        <li>Marareni.Lebo@gmail.com</li>
      </ul>
      <ul>
        <li>Mr Othiniel Lesweni Mogotsi</li>
        <li>Senior Lecturer</li>
        <li>076 448 2432</li>
        <li>Othinieln@gmail.com</li>
      </ul>
    </div>
</div>
  </div>
  </div>
</div>
</body>

</html>

